[submodule "highlight-wrapper/highlight"]
	path = highlight-wrapper/highlight
	url = https://gitlab.com/saalen/highlight.git
[submodule "jpcre2"]
	path = dependencies/jpcre2
	url = https://github.com/jpcre2/jpcre2
[submodule "pcre2"]
	path = dependencies/pcre2
	url = https://github.com/PhilipHazel/pcre2
[submodule "cmark-gfm"]
	path = cmark-gfm
	url = https://github.com/github/cmark-gfm
