.DS_Store

## User settings
xcuserdata/
jpcre2.xcodeproj/xcuserdata/
pcre2.xcodeproj/xcuserdata/*

cmark-gfm/cmark-arm64/
cmark-gfm/cmark-x86_64/

highlight-wrapper/GoUtils/.idea/
highlight-wrapper/lua-5.4.7/src/luac
highlight-wrapper/lua-5.4.7/src/lua

highlight-wrapper/file-5.46/Makefile
highlight-wrapper/file-5.46/config.log
highlight-wrapper/file-5.46/config.status
highlight-wrapper/file-5.46/doc/Makefile
highlight-wrapper/file-5.46/libtool
highlight-wrapper/file-5.46/magic/Makefile
highlight-wrapper/file-5.46/python/Makefile
highlight-wrapper/file-5.46/src/Makefile
highlight-wrapper/file-5.46/tests/Makefile

/*/.idea/

*.dSYM
