*.o
*.a
*.lo
*.la

build/*
**/.libs/*
**/.deps/*

lua-5.4.2/

file-5.44/config.h
file-5.44/config.log
file-5.44/config.status
file-5.44/libmagic.pc
file-5.44/libtool
file-5.44/Makefile
file-5.44/stamp-h1
file-5.44/doc/Makefile
file-5.44/doc/file.1
file-5.44/doc/libmagic.3
file-5.44/doc/magic.4
file-5.44/tests/Makefile
file-5.44/magic/magic.mgc
file-5.44/magic/Makefile
file-5.44/python/Makefile
file-5.44/src/file
file-5.44/src/magic.h
file-5.44/src/Makefile
